@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/react-modal-video/scss/modal-video.scss";
@import "swiper/css/bundle";
@import "../../public/styles/scss/main.scss";
.top-bar-container {
  background-color: #111;
  width: 100%;
}
.top-bar-container-content {
  width: 95%;
  margin: 0 auto;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  p {
    margin-bottom: 0;
    color: #fff;
    line-height: 1.2;
  }
}

.wrapper-container-cls {
  width: 95%;
  margin: 0 auto;
}

.hambuger {
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.icon-user-con {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
